.header {
    background: #273447;
    border-bottom: 1px solid #000000;
}

.headerOpt {
    display: flex;
}

.logo {
    flex-grow: 1;
    padding-top: 8px;
    text-align: center;
}

.logo img {
    width:50px;

}
